* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ABeeZee", sans-serif;
  text-decoration: none;
}

body {
  background-color: #0A6ADB;
}

.hero {
  background-image: url("../images/Background/BG 1.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}
.hero header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1278F1;
  width: 100%;
  height: 50px;
  margin-top: 21px;
  padding: 0 20px;
}
.hero header img {
  height: 38px;
  width: 160px;
  margin-left: 164px;
}
.hero header #navigation {
  display: flex;
  align-items: center;
  gap: 36px;
  margin-right: 164px;
}
.hero header #navigation a {
  color: #FFFFFF;
  font-size: 14px;
  opacity: 80%;
}
.hero header #navigation button {
  height: 45px;
  width: 137px;
  background: transparent;
  border: 1px solid #FFFFFF;
  color: #F2F4F6;
  border-radius: 6px;
  cursor: pointer;
}
.hero-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin: 88px 146px 0 146px;
  padding-bottom: 72px;
  color: #FFFFFF;
}
.hero-content h1 {
  font-weight: bold;
  font-size: 52px;
  padding: 0;
  text-shadow: -5px -5px 5px rgb(255, 64, 64), 5px 5px 5px rgb(64, 131, 255);
  height: 235px;
  width: 540px;
}
.hero-content p {
  margin: 8px 0 24px 0;
  height: 85px;
  width: 445px;
}
.hero-content #cta {
  padding-bottom: 55px;
}
.hero-content #cta #big-cta {
  height: 55px;
  width: 240px;
  font-size: 16px;
  border: 2px solid #FFFFFF;
  border-radius: 6px;
  color: #FFFFFF;
  margin-right: 15px;
  background-color: #1278F1;
  cursor: pointer;
}
.hero-content #cta #normal-cta {
  height: 55px;
  width: 180px;
  font-size: 14px;
  border: 1px solid #F2F4F6;
  border-radius: 6px;
  color: #F2F4F6;
  background-color: #1278F1;
  cursor: pointer;
}

.testimonials {
  text-align: center;
  background-color: #0A6ADB;
}
.testimonials h2 {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: normal;
  opacity: 80%;
  margin-top: 2px;
}
.testimonials #logos {
  display: flex;
  justify-content: center;
  gap: 86px;
  margin: 34px 0 108px 0;
  height: auto;
  width: 100%;
}
.testimonials #why-choose-us {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.testimonials #why-choose-us h3 {
  color: #FFFFFF;
  margin: 10px 0 24px 0;
}
.testimonials #why-choose-us p {
  color: #FFFFFF;
  opacity: 80%;
  line-height: 2;
  height: 88px;
  width: 352px;
}

.features {
  display: flex;
  justify-content: center;
  background-color: #0A6ADB;
  margin-top: 178px;
  gap: 128px;
}
.features h2 {
  height: 85px;
  width: 540px;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.features p {
  opacity: 80%;
  height: 64px;
  color: #FFFFFF;
  width: 640px;
}
.features #cellphone {
  color: #FFFFFF;
}
.features #cellphone h3 {
  margin-bottom: 16px;
}
.features #cellphone p {
  opacity: 80%;
  margin-left: 28px;
  width: 540px;
}
.features #cellphone .phone-features {
  display: flex;
  gap: 8px;
}
.features #both {
  margin-top: 88px;
  justify-content: center;
}
.features #both p {
  width: 540px;
}

/*# sourceMappingURL=style.css.map */
