@use './reset.scss';
@use './variables.scss' as *;

.hero {
    background-image:url('../images/Background/BG\ 1.png');
    background-position: center bottom ;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5); 

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $cor-primaria;
        width: 100%;
        height: 50px;
        margin-top: 21px;
        padding: 0 20px;
    
        img {
            height: 38px;
            width: 160px;
            margin-left: 164px;
        }
    
        #navigation {
            display: flex;
            align-items: center;
            gap: 36px;
            margin-right: 164px;
    
            a {
                color: $cor-secundaria;
                font-size: 14px;
                opacity: 80%;
            }
            button {
                height: 45px;
                width: 137px;
                background: transparent;
                border: 1px solid $cor-secundaria;
                color: $cor-terciaria;
                border-radius: 6px;
                cursor: pointer;
            }
        }
    }

    &-content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        margin: 88px 146px 0 146px;
        padding-bottom: 72px;
        color: $cor-secundaria;

        h1 {
            font-weight: bold;
            font-size: 52px;
            padding: 0;
            text-shadow: -5px -5px 5px rgb(255, 64, 64), 5px 5px 5px rgb(64, 131, 255) ;
            height: 235px;
            width: 540px;
        }

        p {
            margin: 8px 0 24px 0;
            height: 85px;
            width: 445px;
        }

        #cta {
            padding-bottom: 55px;

            #big-cta {
                height: 55px;
                width: 240px;
                font-size: 16px;
                border: 2px solid $cor-secundaria;
                border-radius: 6px;
                color: $cor-secundaria;
                margin-right: 15px;
                background-color: $cor-primaria;
                cursor: pointer;
            }
    
            #normal-cta {
                height: 55px;
                width: 180px;
                font-size: 14px;
                border: 1px solid $cor-terciaria;
                border-radius: 6px;
                color: $cor-terciaria;
                background-color: $cor-primaria;
                cursor: pointer;
            }
        }
    }
}

.testimonials {
    text-align: center;
    background-color: $cor-background;

    h2 {
        color: $cor-secundaria;
        font-size: 14px;
        font-weight:normal;
        opacity: 80%;
        margin-top: 2px;
    }

    #logos {
        display: flex;
        justify-content: center;
        gap: 86px;
        margin: 34px 0 108px  0;
        height: auto;
        width: 100%;
    }

    #why-choose-us {
        display: flex;
        justify-content: center;
        gap: 30px;

        h3 {
            color: $cor-secundaria;
            margin: 10px 0 24px 0;
        }

        p {
            color: $cor-secundaria;
            opacity: 80%;
            line-height: 2;
            height: 88px;
            width: 352px;
        }
    }
}

.features {
    display: flex;
    justify-content: center;
    
    background-color: $cor-background;
    margin-top: 178px;
    gap: 128px;
    h2 {
        height: 85px;
        width: 540px;
        color: $cor-secundaria;
        margin-bottom: 16px;
    }

    p {
        opacity: 80%;
        height: 64px;
        color: $cor-secundaria;
        width: 640px;
    }

    #cellphone {
        color: $cor-secundaria;
        
        h3 {
            margin-bottom: 16px;
        }
        
        p {
            opacity: 80%;
            margin-left: 28px;
            width: 540px;
        }

        .phone-features {
            display: flex;
            gap: 8px;
        }
    }

    #both {
        margin-top: 88px;
        justify-content: center;

        p {
            width: 540px;
        }
    }
}